SECRET_KEY=secret_key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,foodgram-yatest.sytes.net,158.160.221.212
CSRF_TRUSTED_ORIGINS=http://foodgram-yatest.sytes.net,https://foodgram-yatest.sytes.net,http://158.160.221.212,http://localhost
CORS_ALLOWED_ORIGINS=http://foodgram-yatest.sytes.net,http://158.160.221.212,http://localhost
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
